html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.App-container{
  display: flex;
}
.sidepanel{
  /* border: 2px solid red; */
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding:2vw 2vw 2vw 2vw;
}
.side-container-inside-div-1{

  color: black;
  font-size: small;
}
.side-container{
height: 14vh;
border: 1px solid black;
width: 22vw;
margin-top: 1vw;
display: flex;
font-size: smaller;
border-radius: 8px;
}
#side-cont-1{
  margin-bottom: 5vw;
}

.side-container-inside-1{
  height: 4vw;
  width: 4vw;
  background-color: #b3acac;
  border-radius: 4px;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
  border: 1px solid black;
}
.side-container-inside-2{

  margin-top: 2vh;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c5c5c5 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.heading{
  padding-left: 5vh;
background: var(--blue-15, rgba(26, 143, 230, 0.15));
  height: 15vh;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#heading-line-1{
  font-size: larger;
  font-weight: 600;
}
#heading-line-3{
  color: var(--gray-88888850-l, #888);
  margin-top: 5px;
}
/* BasicDetails.js */
.App{
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.BasicDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  height: 70vh;
  width: 70vw;
  justify-content: center;
  background-color: white;
  /* margin-left: 15vw; */
}

.input-labels{
  display: flex;
  flex-direction: column;

}
.input-elements{
  height: 40px;
}
.basicDetails-elements{
  margin-bottom: 50px;
  width: 200px;
}
.basicDetails-elements.sp{
  width: 515px;
  height: 40px;
}
#dob{
  float: left;
  width: 200px;
  color: var(--gray-c-5-c-5-c-575-l, #C5C5C5);
font-family: Roboto;
font-size: large;
font-style: normal;
font-weight: 400;
line-height: normal;
  /* border: 2px solid black; */
}
.next-page-btn{
  height: 32px;
  width:109px;
  color: white;
  /* background-color: rgb(87, 87, 255); */
  background-color: blue;
  font-family: Roboto;
  float: right;
  margin-right: 20px;
  margin-top:20px;
}
.total-basic-details{
  /* border:2px solid black; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
footer{
  background-color: white;
  border: 2px solid #F5F5F5;
  margin-top: 2vh;
  height: 10vh;
}
.DocumentCollection{
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  width: 60vw;
  padding-top: 2vh;

}
.docCollection-conained{
  margin-bottom: 10px;
}
.mylabel{
  margin-top: 1px;
}


/* DocumentCollection.js */
#myfileinput,#myfileinput2,#myfileinput3,#myfileinput4,#myfileinput5,#myfileinput6,#myfileinput7,#myfileinput8{
  display: none;
}
.mylabel{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 2px;
}

/* StatementOfPurpose.js */

.StatementOfPurpose{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  width: 70vw;
  /* margin-left: 15vw; */
  margin-top: 4vh;
  height: 70vh;
  position: relative;
  overflow-y:inherit;

}
.SOP-input{
  width: 65vw;
  height: 10vh;
  font-size: large;
}
.SOP-input-field{
  margin-top: 5vh;
  /* border: 2px solid black; */
}
textarea{
  overflow:hidden;
  resize: none;
}
.sop-text{
  /* border: 2px solid black; */
  width: 600px;
  display: flex;
  align-items: center;

}
/* InterviewAvailability.js */

.InterAva-div{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.in-ava-input{
  width: 400px;
  /* color:; */
}

.InterviewAvailability{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 60vw;
  /* border: 2px solid black; */
  /* margin-left: 15vw; */
  padding-left: 10vw;
  height: 71vh;
}
.dt{
  width: 200px;
  height: 40px;
}

#upload_button {
  display: none;
  
  border: 0px;
  background: linear-gradient(180deg, #f44, #811);
  border-radius: 5px;
  
  color: #fff;
  
  padding: 5px;
}

/* SubmitPages.js */

.SubmitPages{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.converted-side-container{
  height: 14vh;
border: 1px solid black;
width: 22vw;
margin-top: 1vw;
display: flex;
font-size: smaller;
border-radius: 10px;
  border-radius: 8px;
border: 1px solid var(--Blue, #1A8FE6);
background: var(--blue-background, #F5F8FA);
}
.side-container-inside-2{
  width: 30vh;
  font-size: x-small;
  /* border: 2px solid black; */
}

@media screen and (max-width:1000px) {
  .sidepanel{
    display: none;
  }
  .BasicDetails{
    width: 100vw;
  }
  .DocumentCollection{
    width: 90vw;
  }
  .StatementOfPurpose{
    width: 100vw;
    /* margin-left: 2vw; */
  }
  .SOP-input-field{
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .SOP-input{
    width: 90vw;
  }
  .InterviewAvailability{
    width: 89vw;
  } 
  .SubmitPages{
    width: 100vw;
  }
}
@media screen and (max-width:700px) {

  .sop-text{
    /* border: 2px solid black; */
    width: 500px;
    display: flex;
    align-items: center;
  
  }
  .BasicDetails{
    width: 100vw;
    align-items: center;
  }
  .DocumentCollection{
    width: 90vw;
  }
  .StatementOfPurpose{
    width: 100vw;
    /* margin-left: 2vw; */
  }
  .SOP-input-field{
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .SOP-input{
    width: 90vw;
  }
  .InterviewAvailability{
    width: 89vw;
  } 
  .SubmitPages{
    width: 100vw;
  }
}
@media screen and (max-width:620px) {

  .sop-text{
    /* border: 2px solid black; */
    width: 440px;
    display: flex;
    align-items: center;
  
  }
  .App{
    align-items: center;
  }
  .heading{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    
  }
  .BasicDetails{
    width: 100vw;
    align-items: center;
  }
  .DocumentCollection{
    width: 90vw;
  }
  .StatementOfPurpose{
    /* width: auto; */
    margin-left: 2vw;
  }
  .SOP-input-field{
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .SOP-input{
    width: 90vw;
  }
  .InterviewAvailability{
    width: 89vw;
  } 
  .SubmitPages{
    width: 100vw;
  }
  .input-elements{
    width: 60vw;
  }
  .input-labels{
    align-items: center;
  }
  footer{
    background-color:#f5f5f5 ;
    margin-top: 10vh;
  }
}
@media screen and (max-width:480px) {
  .sop-text{
    /* border: 2px solid black; */
    width: 360px;
    display: flex;
    align-items: center;
  
  }
  .App{
    align-items: center;
  }
  .heading{
    border: 1px solid black;
    height: 18vh;
    text-align: center;
    font-size: 12px;
  }
  .BasicDetails{
    width: 100vw;
    align-items: center;
  }
  .DocumentCollection{
    width: 90vw;
  }
  .StatementOfPurpose{
    width: 100vw;
    /* margin-left: 2vw; */
  }
  .SOP-input-field{
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .SOP-input{
    width: 90vw;
  }
  .InterviewAvailability{
    width: 89vw;
  } 
  .SubmitPages{
    width: 100vw;
  }
}
